severity        = 3
verbose         = 9
top             = 50
theme           = pbp || core || bugs || security || maintenance
criticism-fatal = 1
color           = 1
allow-unsafe    = 1

[-Modules::ProhibitAutomaticExportation]
