---
os:
  - linux
install:
  - cpanm --notest Test::WriteVariants Config::AutoConf Carp App::mymeta_requires inc::latest JSON::PP
  - perl Makefile.PL
  - make manifest
  - mymeta-requires --runtime --build --test --configure --develop --recommends --suggests | cpanm --notest --skip-satisfied
language: perl
perl:
  - "5.24"
  - "5.22"
  - "5.21"
  - "5.20-extras"
  - "5.20"
  - "5.18-extras"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
